/* UserInfoCmp ve UserStatisticsCmp */

.text2{
    font-size: 1.4em;
    margin-left: 10px;
    margin-top: auto;
    margin-bottom: auto;
}

.attachAndUnLinkImg {
    width: 32px;
    height: 32px;
    margin-left: 10px;
    transition: 0.5s;
    cursor: pointer;
}

.attachAndUnLinkImg:hover {
    opacity: 0.5;
    padding: 2;
    width: 28px;
    height: 28px;
    margin-top: 2px;
    margin-bottom:2px;
}

.infoRowDiv {
    display: flex;
    flex-direction: row;
    margin-left: 30px;
    margin-top: 15px;
}

.img2 {
    width: 30px;
    height: 30px;
    margin-left: 10px;
}

.verifyTwofaInput {
    font-size: 1.5em;
    text-align: center;
    margin: 4px;
    padding: 4px;
    border-radius: 6px;
    border-width: 1px;
    transition: 0.5s;
}

.verifyTwofaInput::-webkit-outer-spin-button, .verifyTwofaInput::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.verifyTwofaInput:focus {
    background-color: rgb(220,220,220);
    outline-width: 0;
}

.verifyTwofaInput::selection {
    background: none;
}

.verifyTwofaNextImg {
    width: 45px;
    height: 45px;
    transition: 0.5s;
}

.verifyCloseImg {
    width: 35px;
    height: 35px;
    margin-left: 50px;
    margin-top: 5px;
    transition: 0.5s;
}

.verifyCloseImg:hover {
    opacity: 0.5;
    padding: 2px;
    width: 31px;
    height: 31px;
}

.verifyTwofaNextImg:hover {
    opacity: 0.5;
    padding: 2px;
    width: 41px;
    height: 41px;
}

/* ################################ */


/* ChatRoomsCmp ve FriendRoomsCmp */

.roomsHeader {
    background-color: lightgrey;
    border-radius: 25px;
    text-align: center;
    padding: 12px;
    min-width: 350px;
    font-size: 2.0em;
}

.roomsBodyDiv {
    margin-top: 30px;
    background-color: lightgray;
    border-radius: 50px;
    padding: 30px;
    height: 50vh;
}

.roomsButton {
    flex: 1;
    font-size: 1.2em;
    margin: 10px;
    height: 60px;
    min-width: 150px;
    border-radius: 30px;
    transition: 0.5s;
    cursor: pointer;
}

.roomsButton:hover {
    background-color: rgb(248, 195, 195);
}

.roomsButton:active {
    opacity: 0.5;
}

/* ############################################ */


/* SearchChatRoomCmp, SearchUserCmp, FriendsRequestCmp ve MyFriendsRoomCmp */

.searchBarBox {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 10px;
}

.searchBar {
    color: whitesmoke;
    font-size: 1.2em;
    padding-top: 16px;
    padding-bottom: 16px;
    padding-left: 60px;
    padding-right: 60px;
    border-radius: 360px;
    border-style: none;
    text-align: center;
    background-color: rgb(158, 162, 166);
}

.searchBar::placeholder {
    color: whitesmoke;
}

.searchImg {
    width: 40px;
    height: 40px;
    margin-left: -55px;
    margin-top: auto;
    margin-bottom: auto;
}

.listViewDiv {
    padding: 20px;
    transition: 0.5s;
    display: flex;
    flex-direction: row;
}

.listViewDiv:hover {
    background-color: rgb(169, 169, 169);
    border-radius: 10px;
}

.listViewInfoDiv {
    display: flex;
    flex-direction: column;
    margin-left: 10px;
    font-size: 1.2em;
    justify-content: center;
    flex: 1;
}

.friendsAvatarImg {
    width: 60px;
    height: 60px;
    border-radius: 30px;
    object-fit: cover;
    transition: 0.5s;
    cursor: pointer;
}

.friendsAvatarImg:hover {
    opacity: 0.5;
    padding: 2px;
    width: 56px;
    height: 56px;
}

.addFriendImg, .unFriendImg, .acceptImg, .rejectImg {
    width: 40px;
    height: 40px;
    margin-top: 10px;
    margin-right: 20px;
    border-radius: 15px;
    padding: 4px;
    transition: 0.5s;
    cursor: pointer;
}

.addFriendImg:hover, .unFriendImg:hover, .acceptImg:hover, .rejectImg:hover {
    opacity: 0.5;
    background-color: rgb(242, 242, 242);
    padding: 6px;
    width: 36px;
    height: 36px;
}

/* ######################################################### */


/* CreateChatRoom */

.createRoomCenterDiv {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 400px;
}

.createRoomSelectMenu {
    font-size: 1.3em;
    padding: 2px;
    width: 150px;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
}

.createRoomInput {
    width: 300px;
    height: 40px;
    border-radius: 30px;
    padding: 10px;
    font-size: 1.2em;
    border-style: none;
    text-align: center;
    margin-top: 10px;
}

.createRoomOkeyImg {
    width: 60px;
    cursor: pointer;
    transition: 0.5s;
    margin-top: 20px;
}

.createRoomOkeyImg:hover{
    opacity: 0.5;
    padding: 2px;
    width: 56px;
}

/* ############################ */


/* RandomMatchGameCmp */

.gameAnimation {
    margin-top: 100px;
    margin-left: auto;
    margin-right: auto;
    width: 250px;
    transition: 0.5s;
    cursor: pointer;
}

.gameAnimation:hover {
    opacity: 0.5;
}

.cancelButton {
    width: 70px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    margin-top: 50px;
    transition: 0.5s;
    cursor: pointer;
}

.cancelButton:hover {
    opacity: 0.5;
    padding: 2px;
    width: 66px;
}

/* #################### */


/* PageNotFoundCmp */

.centerDiv {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

/* ############### */


/* JoinRoomUi */

.joinRoomCenterDiv {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 400px;
}

.joinRoomInput {
    width: 300px;
    height: 40px;
    border-radius: 30px;
    padding: 10px;
    font-size: 1.2em;
    border-style: none;
    text-align: center;
    margin-top: 20px;
}

.joinRoomOkeyAndBackImg {
    width: 60px;
    cursor: pointer;
    transition: 0.5s;
    margin-top: 20px;
    margin: 25px;
}

.joinRoomOkeyAndBackImg:hover{
    opacity: 0.5;
    padding: 2px;
    width: 56px;
}

/* ############################ */